/* || Global */

:root {
    font-family: "Karla", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffff;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    margin-bottom: 2rem;
    width: 50%;
    height: auto;
}

svg {
    margin-left: 0.5rem;
}

.site-header {
    display: flex;
    align-items: center;
    z-index: 1;
    height: 10rem;
}

.header-text {
    display: inline-block;
    margin-left: 5rem;
    font-size: 3rem;
    font-weight: bolder;
}

@media screen and (min-width: 64rem) {
    .header-text {
        font-size: 4rem;
    }
}

.split-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.split-section:not(.active) {
    filter: brightness(0.67);
}

.split-section:not(.active) .outer-container {
    filter: blur(1px);
}

.left-section {
    background-color: #5380a7;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 67%);
}

@media screen and (min-width: 48rem) {
    .left-section {
        clip-path: polygon(0 0, 67% 0, 33% 100%, 0 100%);
    }
}

.left-section:hover,
.left-section:focus {
    background-color: #84a9ca;
}

.right-section {
    background-color: #468aa3;
    clip-path: polygon(0 67%, 100% 33%, 100% 100%, 0 100%);
}

@media screen and (min-width: 48rem) {
    .right-section {
        clip-path: polygon(67% 0, 100% 0, 100% 100%, 33% 100%);
    }
}

.right-section:hover,
.right-section:focus {
    background-color: #59a0ba;
}

.outer-container {
    position: relative;
    width: 50%;
    height: 100%;
}

.outer-container,
.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-section .outer-container {
    top: -25%;
    left: 25%;
}

@media screen and (min-width: 48rem) {
    .left-section .outer-container {
        top: -10%;
        left: 0;
    }
}

.right-section .outer-container {
    top: 25%;
    left: 25%;
}

@media screen and (min-width: 48rem) {
    .right-section .outer-container {
        top: 10%;
        left: 50%;
    }
}

.section-title {
    margin: 2rem 0;
    font-size: 2rem;
    color: #e2e2e2;
    font-weight: bold;
}

@media screen and (min-width: 64rem) {
    .section-title {
        font-size: 2.5rem;
    }
}

.button {
    display: flex;
    justify-content: center;
    width: 10rem;
    padding: 1rem 3rem;
    margin: 1rem 0;
    border: 2px solid #fff;
    border-radius: 1rem;
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
}

.button.active:hover,
.button.active:focus {
    background-color: #fff;
    color: #000;
}

.button:not(.active) {
    cursor: default;
    pointer-events: none;
}

.button.active:hover .github-logo,
.button.active:focus .github-logo {
    fill: #000;
}
